@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./pic.jpg);
    background-size: cover;
    color: white;
    background-position: center;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
    border: 3px solid white;
    padding: 30px;
}

.box {
    width: 50px;
    height: 60px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 12px;
}

.newyear {
    font-family: 'Inspiration', cursive;
    font-weight: 600;
    font-size: 50px;
    margin: 30px 20px;
}

.box h2 {
    font-size: 40px;
    font-weight: 500;
}

.box small {
    font-size: 10px;
}

@media (min-width:576px) {
    .newyear {
        font-size: 100px;
    }

    p {
        font-size: 15px;
    }

    .box h2 {
        font-size: 50px;
        font-weight: 500;
    }

    .box small {
        font-size: 12px;
    }

    .counter {
        gap: 30px;
    }

    .box {
        width: 100px;
        height: 100px;
    }
}

@media (min-width:768px) {
    .newyear {
        font-size: 150px;
    }

    p {
        font-size: 18px;
    }
}