@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
    font-size: 50px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    margin-top: 1.5rem;
}


.container {
    background-color: rgb(255, 255, 255);
    height: 11rem;
    width: 6.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: relative;
    user-select: none;
}

.tag {
    font-size: 0.25rem;
    font-weight: 500;
    width: 50%;
    height: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-left: 25%;
    top: 62%;
    background-color: white;
    color: rgb(90, 90, 90);
}

#destination {
    /* background-color: #10ac84; */
    background-color: #F0F0F0;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    border: 0.2rem solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-bottom: none;
}

.details {
    height: 35%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border: 0.2rem solid rgb(255, 255, 255);
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
}

.details>h1,
.details>p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details>h1 {
    font-size: 0.4rem;
    height: 30%;
    margin-top: 0.2rem;
}

.keypoints {
    font-size: 0.3rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    text-align: center;
    display: none;
}

.active {
    display: block;
    animation: fadeAnimation 0.2s;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
        filter: blur(0.5);
    }

    100% {
        opacity: 1;
    }
}

.control-btns {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.control-btns>.prev-btn,
.control-btns>.next-btn {
    font-size: 0.5rem;
    cursor: pointer;
}

.control-btns>.prev-btn:active,
.control-btns>.next-btn:active {
    transform: scale(0.7);
}


/********PROJECT STYLE**********/

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

.clock {
    /* background-color: rgb(255, 255, 255); */
    background-color: #333333;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    /* border: 0.1rem solid rgb(0, 0, 0); */
    position: relative;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.clock::before {
    content: 'Ravi';
    /* color: #10ac84; */
    color: white;
    height: 0.2rem;
    width: 0.2rem;
    position: absolute;
    border-radius: 50%;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 0.4rem;
}

.clock::after {
    content: '';
    background-color: white;
    height: 0.2rem;
    width: 0.2rem;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.numbers {
    --rotate: 0;
    color: #ffffff;
    font-size: 0.5rem;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    transform: rotate(var(--rotate));
}

/* .number-1 {
    --rotate: 30deg;
}

.number-2 {
    --rotate: 60deg;
} */

.number-3 {
    --rotate: 90deg;
}

/* .number-4 {
    --rotate: 120deg;
}

.number-5 {
    --rotate: 150deg;
} */

.number-6 {
    --rotate: 180deg;
}

/* .number-7 {
    --rotate: 210deg;
}

.number-8 {
    --rotate: 240deg;
} */

.number-9 {
    --rotate: 270deg;
}

/* .number-10 {
    --rotate: 300deg;
}

.number-11 {
    --rotate: 330deg;
} */

.needle {
    --rotation: 0;
    position: absolute;
    width: 3px;
    height: 2rem;
    background-color: white;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    z-index: 8;
}

.sec {
    --rotation: 30;
    z-index: 6;
    width: 1px;
}

.mins {
    background-color: rgb(255, 255, 255);
    height: 1.5rem;
    --rotation: 60;
}

.hrs {
    background-color: rgb(255, 255, 255);
    height: 1rem;
    --rotation: 30;
}