@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
    font-size: 10px;
}

body {
    background-color: #D8DFF6;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 2rem 2rem 0rem 2rem;
    background-color: #F3F6FF;
    /* height: 100%;
    width: 100%; */
    border-radius: 4rem 4rem 0 0;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    /* position: relative; */
    font-weight: 600;
    margin-top: 2rem;
}

.wrapper{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    padding: 6rem;
    height: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-1 {
    /* position: absolute; */
    font-size: 1.5rem;
    color: #6F7178;
    /* top: 2.5rem;
    left: 2rem; */
}

.title-2 {
    /* position: absolute; */
    color: black;
    font-size: 2.5rem;
    /* top: 6rem;
    left: 2rem;
    margin-bottom: 2rem; */
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill,30rem);
    gap: 0.5rem;
    margin-top: 4rem;
    place-content: center;
}

.card1 {
    margin: 3rem;
    width: 22rem;
    height: 17rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}

.tit-card {
    width: 22rem;
    height: 6rem;
    background-color: #2D89FF;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daycount {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
}

.project-name {
    margin-top: 1rem;
    font-size: 1.8rem;
}

a{
    text-decoration: none;
    color: white;
}

.btn {
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem;
    cursor: pointer;
}

.view {
    background-color: 2D89FF;
    width: 8rem;
}

.info {
    width: 7rem;
}