@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
}

html {
    font-size: 20px;
}

body {
    background-color: D09CFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    user-select: none;
    margin-top: 2rem;
}

.container {
    height: 9.3rem;
    width: 15rem;
    background-color: white;
    padding: 0.2rem;
    display: flex;
}

img {
    width: 100%;
    display: block;
}

.leftWrapper {
    width: 5rem;
    overflow: hidden;
}

.imageSilder {
    display: flex;
    transition: all 0.5s ease;
}

.imagePreview {
    margin-top: 0.1rem;
    width: 14.6rem;
    height: 2.5rem;
    display: flex;
    gap: 0.1rem;
    justify-content: center;
}

.imgPrev {
    display: flex;
    background-color: red;
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    justify-content: center;
}

.imagePreview img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}